Import data

In [65]:
import pandas as pd

In [66]:
nakuru_weather = pd.read_csv("data/TA00026.csv")
nyeri_weather = pd.read_csv("data/TA00283.csv")
kisumu_weather = pd.read_csv("data/TA00146.csv")
turkana_weather = pd.read_csv("data/TA00354.csv")

Check the last data

In [67]:
nakuru_weather = nakuru_weather.assign(location=3)
nakuru_weather.tail()

,timestamp (UTC),precipitation (mm),relativehumidity AVG (-),soilmoisture S001263 AVG (m3/m3),soilmoisture S001391 AVG (m3/m3),temperature AVG (degrees Celsius),temperature MAX (degrees Celsius),temperature MIN (degrees Celsius),location
43819,2022-12-31 19:00,0.0,0.537333,NaN,0.142750,17.983333,18.4,17.4,3
43820,2022-12-31 20:00,0.0,0.477000,NaN,0.142833,18.133333,18.3,17.9,3
43821,2022-12-31 21:00,0.0,0.494167,NaN,0.142750,17.575000,18.0,17.1,3
43822,2022-12-31 22:00,0.0,0.511917,NaN,0.142833,17.250000,17.6,16.8,3
43823,2022-12-31 23:00,0.0,0.504333,NaN,0.143000,17.058333,17.6,15.8,3

In [68]:
kisumu_weather = kisumu_weather.assign(location=1)
kisumu_weather.tail()

,timestamp (UTC),precipitation S000153 (mm),precipitation S000978 (mm),precipitation S001356 (mm),relativehumidity S000153 AVG (-),relativehumidity S000978 AVG (-),relativehumidity S001356 AVG (-),temperature S000153 AVG (degrees Celsius),temperature S000153 MAX (degrees Celsius),temperature S000153 MIN (degrees Celsius),temperature S000978 AVG (degrees Celsius),temperature S000978 MAX (degrees Celsius),temperature S000978 MIN (degrees Celsius),temperature S001356 AVG (degrees Celsius),temperature S001356 MAX (degrees Celsius),temperature S001356 MIN (degrees Celsius),location
43819,2022-12-31 19:00,NaN,NaN,NaN,NaN,NaN,0.811417,NaN,NaN,NaN,NaN,NaN,NaN,21.983333,22.3,21.2,1
43820,2022-12-31 20:00,NaN,NaN,NaN,NaN,NaN,0.831667,NaN,NaN,NaN,NaN,NaN,NaN,21.033333,21.6,20.7,1
43821,2022-12-31 21:00,NaN,NaN,NaN,NaN,NaN,0.746417,NaN,NaN,NaN,NaN,NaN,NaN,22.158333,23.1,21.3,1
43822,2022-12-31 22:00,NaN,NaN,NaN,NaN,NaN,0.693750,NaN,NaN,NaN,NaN,NaN,NaN,22.791667,23.3,21.7,1
43823,2022-12-31 23:00,NaN,NaN,NaN,NaN,NaN,0.756833,NaN,NaN,NaN,NaN,NaN,NaN,22.083333,22.9,21.2,1

In [69]:
turkana_weather = turkana_weather.assign(location=4)
turkana_weather.tail()

,timestamp (UTC),precipitation (mm),relativehumidity AVG (-),temperature AVG (degrees Celsius),temperature MAX (degrees Celsius),temperature MIN (degrees Celsius),location
43315,2022-12-31 19:00,0.0,0.364250,30.533333,30.9,30.2,4
43316,2022-12-31 20:00,0.0,0.375750,29.816667,30.1,29.4,4
43317,2022-12-31 21:00,0.0,0.386250,28.808333,29.2,28.4,4
43318,2022-12-31 22:00,0.0,0.393917,28.091667,28.5,27.5,4
43319,2022-12-31 23:00,0.0,0.408167,27.066667,28.1,26.3,4

In [70]:
nyeri_weather = nyeri_weather.assign(location=2)
nyeri_weather.tail()

,timestamp (UTC),precipitation (mm),relativehumidity AVG (-),soilmoisture AVG (m3/m3),temperature AVG (degrees Celsius),temperature MAX (degrees Celsius),temperature MIN (degrees Celsius),location
43819,2022-12-31 19:00,0.0,0.708333,0.182083,16.533333,17.0,15.6,2
43820,2022-12-31 20:00,0.0,0.743917,0.182083,14.941667,16.0,13.2,2
43821,2022-12-31 21:00,0.0,0.819417,0.182083,12.458333,13.8,11.2,2
43822,2022-12-31 22:00,0.0,0.865667,0.182000,10.191667,11.1,9.5,2
43823,2022-12-31 23:00,0.0,0.879333,0.182000,9.333333,9.9,8.6,2

In [71]:
weather = pd.concat([nakuru_weather[['timestamp (UTC)','location','temperature AVG (degrees Celsius)', 'relativehumidity AVG (-)']],
                     turkana_weather[['timestamp (UTC)','location','temperature AVG (degrees Celsius)', 'relativehumidity AVG (-)']],
                     kisumu_weather[['timestamp (UTC)','location','temperature S001356 AVG (degrees Celsius)', 'relativehumidity S001356 AVG (-)']],
                     nyeri_weather[['timestamp (UTC)','location','temperature AVG (degrees Celsius)', 'relativehumidity AVG (-)']]],
                    axis=0)

weather['avg_humidity'] = weather['relativehumidity AVG (-)'].combine_first(weather['relativehumidity S001356 AVG (-)'])
weather.drop(['relativehumidity AVG (-)', 'relativehumidity S001356 AVG (-)'], axis=1, inplace=True)

weather['avg_temp'] = weather['temperature AVG (degrees Celsius)'].combine_first(weather['temperature S001356 AVG (degrees Celsius)'])
weather.drop(['temperature AVG (degrees Celsius)', 'temperature S001356 AVG (degrees Celsius)'], axis=1, inplace=True)

weather.columns = ['timestamp (UTC)','sensor_id', 'avg_humidity','avg_temp']
weather

        timestamp (UTC)  sensor_id  avg_humidity   avg_temp
0      2018-01-01 00:00          3      0.728333  13.166667
1      2018-01-01 01:00          3      0.785000  11.925000
2      2018-01-01 02:00          3      0.819167  11.041667
3      2018-01-01 03:00          3      0.853333  10.333333
4      2018-01-01 04:00          3      0.805833  12.633333
...                 ...        ...           ...        ...
43819  2022-12-31 19:00          2      0.708333  16.533333
43820  2022-12-31 20:00          2      0.743917  14.941667
43821  2022-12-31 21:00          2      0.819417  12.458333
43822  2022-12-31 22:00          2      0.865667  10.191667
43823  2022-12-31 23:00          2      0.879333   9.333333

[174792 rows x 4 columns]

In [72]:
weather['timestamp (UTC)']=pd.to_datetime(weather['timestamp (UTC)'])
final_weather= weather.loc[weather['timestamp (UTC)']>='2022-12-01']

final_weather

          timestamp (UTC)  sensor_id  avg_humidity   avg_temp
43080 2022-12-01 00:00:00          3      0.720250  12.741667
43081 2022-12-01 01:00:00          3      0.732833  11.716667
43082 2022-12-01 02:00:00          3      0.754250  12.075000
43083 2022-12-01 03:00:00          3      0.754083  12.516667
43084 2022-12-01 04:00:00          3      0.771667  14.900000
...                   ...        ...           ...        ...
43819 2022-12-31 19:00:00          2      0.708333  16.533333
43820 2022-12-31 20:00:00          2      0.743917  14.941667
43821 2022-12-31 21:00:00          2      0.819417  12.458333
43822 2022-12-31 22:00:00          2      0.865667  10.191667
43823 2022-12-31 23:00:00          2      0.879333   9.333333

[2976 rows x 4 columns]

In [73]:
#writing to csv
final_weather.to_csv('out/weather.csv', index=False)